---
import GitHubIcon from './icons/GitHub.astro'
import LinkWebsiteIcon from './icons/LinkWebsite.astro'
import NextJS from './icons/NextJS.astro'
import Tailwind from './icons/Tailwind.astro'
import TypeScript from './icons/TypeScript.astro'
import LinkButton from './LinkButton.astro'

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-white/5 text-white',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-white/5 text-white',
    icon: Tailwind,
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-white/5 text-white',
    icon: TypeScript,
  },
}

const PROJECTS = [
  {
    title: 'Minino Malo -  Ecommerce de Bolsos Artesanales',
    description:
      'Tienda online creada desde cero con Next.js, TypeScript y Tailwind CSS. Flujo de usuarios completo, carrito y pasarela de pago. También notificaciones vía email para la creación del usuario, cuando se realice la compra se recibe email del Pedido y en un futuro también para el seguimiento del Pedido.',
    link: 'https://mininomalo.com',
    github: '',
    image: '/projects/mininomalo.webp',
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
  },
]
---

{
  PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article>
      <h3 class='text-2xl font-semibold text-yellow-200 mb-2'>{title}</h3>
      <p class='text-lg mb-4 text-pretty'>{description}</p>
      <ul class='flex gap-x-2 flex-row'>
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs mb-2 ${tag.class} py-1 px-2`}
            >
              <tag.icon class='size-4' />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class='rounded shadow-2xl shadow-white/10'
        src={image}
        alt={`Imagen del proyecto ${image}`}
      />
      <footer class='flex mt-4 gap-x-4 '>
        {github && (
          <LinkButton href={github}>
            <GitHubIcon class='size-6' />
            Ver código fuente
          </LinkButton>
        )}

        <LinkButton href={link}>
          <LinkWebsiteIcon class='size-6' />
          Ir al sitio web
        </LinkButton>
      </footer>
    </article>
  ))
}
